body {
  margin: 0;
}
img {
  max-width: 100%;
}

.header--none {
  display: none;
}

.container {
  font-family: "Roboto Flex", sans-serif;
}

.header,
.footer {
  background-color: #eebb4d;
}

a {
  text-decoration: none;
}

.contact {
  background-color: #96bb7c;
}

.intro,
.bety,
.photogalery {
  background-color: #e3dfc8;
}

.micka,
.masa {
  background-color: #f5f1da;
}

h1 {
  margin-top: 0;
}
