$TopBottColour: #eebb4d;
$MainLightColour: #f5f1da;
$ContColour: #96bb7c;
$MainDarkColour: #e3dfc8;
$NavMargin: 1rem 0 1rem 0;
$DisplayFlex: flex;
$AlignCenter: center;
@mixin text($color, $size, $decoration) {
  color: $color;
  font-size: $size;
  font-style: $decoration;
}

.container {
  margin: auto;
}

img {
  max-width: 80%;
}

.container {
  font-family: "Roboto Flex", sans-serif;
  display: $DisplayFlex;
  flex-direction: column;
  text-align: $AlignCenter;
}

.header {
  background-color: $TopBottColour;
  &--underlined {
    text-decoration-line: underline;
    text-decoration-style: solid;
  }
  &--none {
    display: none;
  }
  &__photo--cover {
    max-width: 100%;
    margin-bottom: 0;
  }
}

.footer {
  background-color: $TopBottColour;
  &--bold {
    font-weight: bold;
  }
}

nav {
  display: $DisplayFlex;
  flex-direction: column;
  text-align: $AlignCenter;
  margin: $NavMargin;
}
a {
  text-decoration: none;
  padding: 1px;
  color: black;
  &:hover {
    text-decoration: underline;
    font-size: 120%;
  }
}

.contact {
  background-color: $ContColour;
  @include text(rgb(55, 54, 54), 2rem, italic);
  &--big {
    font-size: 2rem;
  }
}

.contact__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
}

.bety,
.photogalery {
  background-color: $MainDarkColour;
}

.intro {
  background-color: $MainDarkColour;
  &__photo--margin {
    margin: $NavMargin;
  }
  &__welcome--italics {
    font-style: italic;
  }
}

.micka,
.masa {
  background-color: $MainLightColour;
}

h1 {
  margin: $NavMargin;
  text-align: $AlignCenter;
}

p {
  margin: 1rem;
}

.photogalery {
  padding-bottom: 1rem;
}

@media (min-width: 860px) {
  .container {
    max-width: 80%;
  }

  .intro,
  .micka,
  .bety,
  .masa {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  nav {
    display: $DisplayFlex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header--none {
    display: contents;
    font-weight: bold;
  }
  .header {
    padding: 0 1rem 0 1rem;
  }

  .intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-columns: 1fr minmax(200px, 550px);
  }

  .micka,
  .masa {
    grid-template-columns: minmax(min-content, 50px) 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .bety {
    grid-template-columns: 1fr 1fr minmax(min-content, 50px);
  }
  .bety--right {
    grid-column-start: 3;
  }
  .bety__intro {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  .bety__photo {
    grid-column-start: 2;
    grid-row-start: 1;
  }
  @mixin grid() {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 10% 30% 30% 30%;
  }
  .photogalery {
    @include grid();
    align-items: $AlignCenter;
    justify-items: $AlignCenter;
    justify-content: $AlignCenter;
  }
  .photogalery--top {
    grid-column: span 3;
  }

  .micka,
  .bety,
  .masa {
    padding: 1rem;
  }
  .micka__intro,
  .bety__intro,
  .masa__intro {
    align-self: end;
  }
}
